
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: "Open Sans",Helvetica,Arial,Verdana,sans-serif;
}
body{
    
}
span{
    font-size: 14px;
}
.toolbar{
    position: fixed;
    z-index: 3;
    background-color: #ffffff;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    box-shadow: #7a7a7a75 0px 1px 3px;
    height: 56px;
    margin-bottom: 50px;
}
.toolbar img{
    height: 45px;
    width: auto;
}
.container{

    display: flex;
    justify-content: center;
}
.global-container{
    padding-top: 80px;
}
.grid{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 800px;
    border: solid 1px #000000;
    margin: 0px;
    padding: 0px;
}
.elem{
    width: 80px;
    height: 80px; 
}
.elem img{
   width: 100%;
   height: auto;
}
.colors{
    margin-top: 10px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}
.color{
    width: 75px;
    height: 75px;
}
.color img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.color img:hover{
    box-shadow: 0px 0px 10px #000000b6;
}
.my-btn{
    background-color: #205a99;
    color: #ffffff;
    height: 40px;
    width: 100px;
    border: none;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #7a7a7a;
    cursor: pointer;
}
.style{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #cacaca;
    cursor: pointer;
}
.styles{
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: flex-start;
    overflow: hidden;
    font-size: 14px;
}
.style.active{
    background-color: #205a99;
    color: #ffffff;
}
#square-btn{
    height: 80px;
    width: 80px;
}
#exagone-btn{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 70px;
    margin-left: 10px;
    
}
#exagone-btn > div{
    position: absolute;
    width:100%;
    padding-bottom: 80px; /* =  width / sin(60) */
    overflow: hidden;
    background-color: #7a7a7a;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
        -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
            transform: rotate3d(0,0,1,-60deg) skewY(30deg);

}
#exagone-btn > div * {
    position: absolute;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
#exagone-btn > div > div{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #cacaca;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
    cursor: pointer;
}
#exagone-btn > div > div img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    -webkit-transform: rotate3d(0,0,0,0deg);
        -ms-transform: rotate3d(0,0,0,0deg);
            transform: rotate3d(0,0,0,0deg);
    }
#exagone-btn-c.active{
    background-color: #205a99;
    color: #ffffff;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: 100px;
    padding: 30px;
    border-top: #0000001c solid 1px;
}
footer ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: #205a99;
    padding: 5px 10px;
}
.f-contact{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.img-rd{
    background-color: #205a99;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.img-rd img{
    width: 20px;
    height: 20px;
}
.action-buttons{
    position: relative;
    z-index: 2;
}
@media screen and (max-width: 800px) {
    .grid{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        width: 100%;
        border: solid 1px #000000;
        margin: 0px;
        padding: 0px;
    }
    .elem{
        width: 10%;
        height: 10%; 
    }
}